<header>
  <div class="container">
    <nav>
      <ul>
        <img src="../../assets/images/logo.png" style= "padding-right: 1em; height: 25px;" >
        <li><a href="#" routerLink="/">Катедра за електронику</a></li>
        <div class="dropdown">
          <li><a>  Студијски програми  </a></li>
         
            <div class="dropdown-content">
              <a href="#" routerLink="/softversko">Рачунарска техника и софтверско инжењерство</a>
              <a href="#" routerLink="/informatika">Информатика</a>
           </div>
        </div>
        <div class="dropdown">
          <li><a> Мастер академске студије </a></li>
         
            <div class="dropdown-content">
              <a href="#" routerLink="/elektro-rac">Електротехника и рачунарство</a>
              <a href="#" routerLink="/bioinzenjering">Биоинжењеринг</a>
           </div>
        </div>
        <li><a href="http://www.mfkg.rs/sr/" style= "margin-left:700px"> Факултет инжењерских наука</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>