<div class="text-container">
    <h1>Биоинжењеринг</h1>
    <h2>МАСТЕР АКАДЕМСКЕ СТУДИЈЕ</h2>

    <p>Студијски програм мастер академских студија Електротехника и рачунарство <strong>акредитован</strong> је верењем Комисије за акредитацију и проверу квалитета 
        Републике Србије бpoj: 612-00-00150/10/2018-03 од 14.02.2019. године.</p>
    
    <p>Студијски програм <strong>траје једну годину (60 ЕСПБ)</strong>, интердисциплинарних, мултидисциплинарних, трансдисциплинарних (ИМТ) и двопредметних студија и <strong>даје академски назив „мастер инжењер 
        биоинжењеринга“.</strong></p>

    <p><strong>Услови за упис: </strong> Право на упис имају сви студенти који су завршили четворогодишње основне академске студије на неком од следећих факултета: 
        Машински факултет, Технички факултет, Електротехнички факултет, Факултет oрганизационих наука као и неке од факултета сличних профила, при чему су остварили 
        најмање 240 ЕСПБ.</p>
    
    <p>Услови уписа на студијски програм и други најбитнији елементи студијског програма и режима студија су прописани Статутом и Правилником
         о режиму основних и мастер студија Факултета инжењерских наука.</p>
    
    <p>Поред полагања испита, предвиђена је и реализација стручне праксе, као и израда завршног рада.</p>
    
    <p><strong>Списак предмета</strong> дат је у Водичу за студенте, а детаљнији опис је доступан у Књизи предмета.</p>
    
    <p>По завршетку мастер студија Биоинжењеринг <strong>очекивани исходи учења су</strong>:
        - владање знањима и вештинама у области индустријског инжењерства са нагласком на информационим технологијама на нивоу мастер 
        академских студија које прописују документи земаља ЕУ;<br>
        - владање методама и алатима за анализу, синтезу и пројектовање;<br>
        - владање специфичним знањима и вештинама која стиче кроз лабораторијски рад, студијски истраживачки рад, рад на пројектним 
        задацима и стручну праксу, а што обухвата: информационе технологије, техничка средства и елементе, битне концепте системског 
        инжењерства и друге предметно специфичне области;<br>
        - владање стеченим знањима у контексту („знање као способност доласка до информације и њене креативне употребе“);<br>
        - владање ширим контекстом сагледавања инжењерских и истраживачких проблема, што подразумева узимање у обзир економских, еколошких, 
        организационих и друштвено социјалних релација.<br>
        
    </div>