<div class="text-container">
    <h1>Електротехника и рачунарство</h1>
    <h2>МАСТЕР АКАДЕМСКЕ СТУДИЈЕ</h2>

    <p>Студијски програм мастер академских студија Електротехника и рачунарство <strong>акредитован</strong> је верењем Комисије за акредитацију и проверу квалитета 
        Републике Србије бpoj: 612-00-01749/2019-06 од 29.10.2019.године.</p>
    
    <p>Студијски програм <strong>траје једну годину (60 ЕСПБ)</strong>, припада пољу техничко-технолошких наука и даје академски назив <strong>„мастер инжењер 
        електротехнике и рачунарства“.</strong></p>
    
    <p><strong>Услови за упис:</strong> Право на упис имају сви студенти који су завршили четворогодишње основне академске студије на неком од следећих факултета: 
        Машински факултет, Технички факултет, Електротехнички факултет, Факултет oрганизационих наука као и неке од факултета сличних профила, при чему су остварили 
        најмање 240 ЕСПБ.</p>
    
    <p>Услови уписа на студијски програм и други најбитнији елементи студијског програма и режима студија су прописани Статутом и Правилником о режиму
         основних и мастер студија Факултета инжењерских наука.</p>
    
    <p>Поред полагања испита, предвиђена је и реализација стручне праксе, као и израда завршног рада.</p>
    
    <p><strong>Списак предмета</strong> дат је у Водичу за студенте, а детаљнији опис је доступан у Књизи предмета.</p>
    
    <p>По завршетку основних студија Рачунарске технике и софтверског инжењерства <strong>очекивани исходи учења су</strong>:
        - познавање и разумевање фундаменталних концепата електротехнике, са ширим знањима у оквиру рачунарског инжењерства 
        на нивоу који се очекује од инжењера овог профила и у земљама ЕУ;<br>
        - коришћење савремених софтверских алата, техника и методологија за решавањe проблема у инжењерској пракси;<br>
        - владање стеченим знањима у контексту „знање као способност доласка до информације и њене креативне употребе“;<br>
        - обученост коришћења стечених практичних искустава и савремених алата за пројектовање и документовање, како у области хардвера тако и софтвера;<br>
        - разумевање различитих прилаза и методологија анализе и синтезе система, објеката и процеса, као и читање и креирање релевантне техничке документације.</p>
          
    </div>