<div class="text-container">
<h1> Катедра за електротехнику </h1>
<p>Катедра за електротехнику основана је 18.05.2017. године и као таква најмлађа је катедра на Факултету инжењерских наука. 
Чине је четири члана, два редовна професора и два доцента.</p>

<img src="../../assets/images/logo_elektrotehnika.png" style=" display: block; margin-left: auto; margin-right: auto;">

<p>У погледу наставних активности, Катедра за електротехнику је задужена за извођење наставе на студијском програму Рачунарска 
техника и софтверско инжењерство, на основним академским студијама акредитованим за упис 60 студената годишње, као и за 
електротехничке курсеве на основним и постдипломским студијама на осталим студијским програмима.</p>

<p>У плану је акредитација мастер, као и докторских академских студија у области електротехнике и рачунарства.</p>

<p>Наставници Катедре за електротехнику су се школовали или усавршавали на бројним светским универзитетима: Универзитет у
Марибору (Словенија), Алабама универзитет, Хунтсвилле и Калифорнијски универзитет у Берклију (САД), Универзитет примењених 
наука, Аугсбург и Технички факултет у Илменау (Немачка), Вестминстер универзитет, Лондон (Велика Британија), Технички 
универзитет у Делфту (Холандија), Технички универзитет у Бечу (Аустрија), Национални технички универзитет у Атини (Грчка).</p>

<p>У области стручне сарадње Катедра за електротехнику је повезана са компанијама из окружења са којима остварује заједничке 
пројекте, док у научном погледу, чланови Катедре за електротехнику дају допринос у областима опште електротехнике, 
електромагнетике, рачунарске технике и информатике, аутоматике, електронике, пројектовања интегрисаних кола и других ужих 
научних области за које је Катедра за електротехнику матична.</p>

<p>У оквиру Катедре за електротехнику постоји и Лабораторија за електротехнику.</p>

<p>Лабораторија је смештена и функционише у две просторије и има два одељења: Одељење за теоријску електротехнику и Одељење за 
електронику, микроконтролере и процесирање сигнала.</p>

<img src="../../assets/images/lab1.jpg" style=" display: block; margin-left: auto; margin-right: auto; height:250px; padding-bottom:10px;">

<img src="../../assets/images/lab2.jpg" style=" display: block; margin-left: auto; margin-right: auto; height:250px; padding-bottom:10px">

<img src="../../assets/images/lab3.jpg" style=" display: block; margin-left: auto; margin-right: auto; height:250px; padding-bottom:10px">

<img src="../../assets/images/lab4.jpg" style=" display: block; margin-left: auto; margin-right: auto; height:250px; padding-bottom:10px">

<p>Како Електротехника и рачунарска техника представљају један од сектора који се најбрже развија у свету, треба стимулисати 
њен развој и посебну пажњу посветити развоју индустрије софтвера и хардвера, с обзиром да то директно има утицаја на привредни 
развој. У том смислу Катедра за електротехнику представља институционалну подршку младим људима, студентима и младим 
истраживачима Факултета инжењерских наука, и успоставља тесне везе између Универзитета у Крагујевцу и привреде. У будућности 
то ће резултовати све јачим утицајем области Електротехнике и рачунарства на привредне токове и активности у друштву, као и 
смањењем одласка младих кадрова из земље услед недовољно развијеног привредног амбијента.</p>

<p>Шеф катедре: др Јасна Радуловић, редовни професор</p>

</div>